<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
        Made with <i class="fa fa-heart"></i> by Robi Pozzi - &copy; 2024
    </div>
    <!--div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Settings gears">Settings gears</a> from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div-->
    <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-expand m-auto navbar-text">
            Follow me on :
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://www.linkedin.com/in/robipozzi" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="nav-item nav-link" href="https://twitter.com/roberto_pozzi" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="nav-item nav-link" href="https://www.instagram.com/robipozzi/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="nav-item nav-link" href="https://gitlab.com/robipozzi" target="_blank">
                <i class="fa fa-gitlab"></i>
            </a>
        </div>
    </div>
</nav>