<div class="container-fluid">
  @if(!isLoggedIn){
    <div class="d-flex justify-content-center">
      <h1>{{ title }}</h1>
    </div>
    <div class="d-flex justify-content-center">
      <div class="form-signin">
        <form>
          <!--img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"-->
          <div class="form-floating">
            <input id="floatingInput" type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control">
            <label for="floatingInput">{{ usernameLabel }}</label>
          </div>
          <div class="form-floating">
            <input id="floatingPassword" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control">
            <label for="floatingPassword">{{ passwordLabel }}</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> {{ rememberLabel }}
            </label>
          </div>
          <button type="button" class="w-100 btn btn-lg btn-primary" (click)="login()">{{ loginLabel }}</button>
        </form>
      </div>
    </div>
  }
  @else{
    <home></home>
  }
</div>

