<div class="d-flex justify-content-center">
    <div>
        <div class="py-5 text-center" >
            <h3>{{ addNewRestaurantLabel }}</h3>
        </div>
        @if(submitted){
            <div class="bg-light text-center">
                <p class="fw-bold text-success">{{ newRestaurantAddedMsg }}</p>
            </div>
        }
        <div class="form-signin">
            <form [formGroup]="newRestaurantForm" (ngSubmit)="add()">
                <div class="row g-3">
                    <div class="col-sm-3">
                        <label for="name">{{ restaurantNameLabel }} : </label>
                        <input id="name" class="form-control" type="text" formControlName="name">
                    </div>
                    <div class="col-sm-3">
                        <label for="fullAddress">{{ fullAddress }}</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="fullAddress" 
                          formControlName="fullAddress" 
                          autocomplete="on"
                        >
                      @if(predictions.length > 0){
                          <ul class="list-group">
                              @for(prediction of predictions; track prediction.place_id){
                                  <li 
                                    class="list-group-item list-group-item-action"
                                    (click)="selectAddress(prediction)"
                                  >
                                    {{ prediction.description }}
                                  </li>
                              }
                            </ul>
                      }
                    </div>
                    <div class="col-sm-3">
                        <label for="city">{{ cityLabel }} : </label>
                        <input id="city" class="form-control" type="text" formControlName="city">
                    </div>
                    <div class="col-sm-3">
                        <label for="zipcode">{{ zipcodeLabel }} : </label>
                        <input id="zipcode" class="form-control" type="text" formControlName="zipcode">
                    </div>
                    <div class="col-sm-3">
                        <label for="province">{{ provinceLabel }} : </label>
                        <input id="province" class="form-control" type="text" formControlName="province">
                    </div>
                    <div class="col-sm-3">
                        <label for="region">{{ regionLabel }} : </label>
                        <input id="region" class="form-control" type="text" formControlName="region">
                    </div>
                    <div class="col-sm-3">
                        <label for="country">{{ countryLabel }} : </label>
                        <input id="country" class="form-control" type="text" formControlName="country">
                    </div>
                    <div class="col-sm-3">
                        <label for="street">{{ streetLabel }} : </label>
                        <input id="street" class="form-control" type="text" formControlName="street">
                    </div>
                    <div class="col-sm-3">
                        <label for="phone">{{ phoneLabel }} : </label>
                        <input id="phone" class="form-control" type="text" formControlName="phone">
                    </div>
                    <div class="col-sm-3">
                        <label for="mobile">{{ mobileLabel }} : </label>
                        <input id="mobile" class="form-control" type="text" formControlName="mobile">
                    </div>
                    <div class="col-sm-3">
                        <label for="email">{{ emailLabel }} : </label>
                        <input id="email" class="form-control" type="text" formControlName="email">
                    </div>
                    <div class="col-sm-3">
                        <label for="website">{{ websiteLabel }} : </label>
                        <input id="website" class="form-control" type="text" formControlName="website">
                    </div>
                    <div class="col-sm-3">
                        <label for="cuisine">{{ cuisineLabel }} : </label>
                        <input id="cuisine" class="form-control" type="text" formControlName="cuisine">
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                        <p class="d-inline-flex gap-1">
                            <button type="submit" class="btn btn-success btn-sm" [disabled]="!newRestaurantForm.valid">Add</button>
                            <a class="btn btn-success btn-sm" role="button" (click)="reset()">Reset</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>