<!--div class="d-flex justify-content-center">
    <hr class="my-4">
    <div [hidden]="submitted">
        <h3>{{ addNewRestaurantLabel }}</h3>
        <div class="form-signin">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="model.name"
                        [ngModelOptions]="{standalone: true}" name="name">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" required [(ngModel)]="model.city"
                        [ngModelOptions]="{standalone: true}" name="city">
                </div>
                <div class="form-group">
                    <label for="zipcode">Zip Code</label>
                    <input type="text" class="form-control" id="zipcode" [(ngModel)]="model.zipcode"
                        [ngModelOptions]="{standalone: true}" name="zipcode">
                </div>
                <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" class="form-control" id="street" required [(ngModel)]="model.street"
                        [ngModelOptions]="{standalone: true}" name="street">
                </div>
                <div class="form-group">
                    <label for="cuisine">Type of Cuisine</label>
                    <input type="text" class="form-control" id="cuisine" [(ngModel)]="model.cuisine"
                        [ngModelOptions]="{standalone: true}" name="cuisine">
                </div>
                <br>
                <div class="d-flex justify-content-center">
                    <p class="d-inline-flex gap-1">
                        <a class="btn btn-success btn-sm" role="button" (click)="add()">Submit</a>
                        <a class="btn btn-success btn-sm" role="button" (click)="reset()">Reset</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div [hidden]="!submitted">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-xs-3">Name: </div>
            <div class="col-xs-9">{{ model.name }} </div>
        </div>
        <div class="row">
            <div class="col-xs-3">City: </div>
            <div class="col-xs-9">{{ model.city }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Zip Code: </div>
            <div class="col-xs-9">{{ model.zipcode }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Street: </div>
            <div class="col-xs-9">{{ model.street }}</div>
        </div>
        <div class="row">
            <div class="col-xs-3">Type of Cuisine: </div>
            <div class="col-xs-9">{{ model.cuisine }}</div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <p class="d-inline-flex gap-1">
                <a class="btn btn-success btn-sm" role="button" (click)="add()">Submit</a>
                <a class="btn btn-success btn-sm" role="button" (click)="reset()">Reset</a>
                <a class="btn btn-primary" routerLink="/restaurants" role="button">Back to My Restaurants List</a>
                <button class="btn btn-primary" (click)="edit()">Edit</button>
            </p>
        </div>
    </div>
</div-->