<div class="d-flex justify-content-center">
    <h1>{{ welcomeMsg }}, {{ title }}</h1>
</div>
<div class="d-flex justify-content-center">
    <div class="jumbotron">
        <!--h1 class="display-4 text-center">Welcome to Windfire Restaurants!</h1-->
        <hr class="my-4">
        <p class="text-center">{{ mainFunctionsLabel }}</p>
        <a class="btn btn-primary btn-sm" routerLink="/restaurants" role="button">{{ getRestaurantsLabel }}</a>
        <a class="btn btn-primary btn-sm" routerLink="/add" role="button">{{ addRestaurantLabel }}</a>
    </div>
</div>